#map_canvas {
  width: 100%;
  height: 90vh;
  border: 1px solid red;
}
 
 
#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
 
#map {
  width: 100%;
 height: 100vh;
}
 
.map-wrapper {
  position: relative;
 }
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }

   .current-location {
    position: absolute;
    // background-color: #fff !important;
    right: 3%;
    width: 30px;
    bottom: 40% !important;
    button {
      background-color: #fff;
      height: 2.9rem;
      width: 2.9rem;
      img {
        width: 20px;
      }
    }
    .button-ios.activated {
      background-color: transparent;
    }
  }


 .go-back-button, .search-button {
    background-color: transparent !important;
    box-shadow: none;
    .activated {
      background-color: transparent !important;
    }
  }
  .search-button {
    ion-icon {
      font-size: 2.7rem !important;
    }
  }
  .back-btn, .search-btn {
    position: absolute;
    ion-icon {
      color: #000;
    }
  }
  .search-btn {
    left: 85%;
  }
  .search-box {
    position: absolute;
    top: 2%;
    z-index: 999;
  }
  ion-textarea {
    font-size: 14px;
  }