<!-- <ion-header>
  <ion-row>
    <ion-col text-start padding-top>
      <ion-title>Google Map</ion-title>
    </ion-col>
    <ion-col text-end>
      <ion-button (click)="loadMap()" shape="round" fill="outline">
        <ion-icon slot="start" name="locate"></ion-icon>
        Where I Am
      </ion-button>
    </ion-col>
  </ion-row>
</ion-header> -->

<ion-content>

  <ion-buttons float-end class="current-location">
    <button ion-button icon-only (click)="loadMap()">
      <img src="./assets/current-location.png" alt="">
    </button>
  </ion-buttons>
  
    <ion-searchbar autocorrect="off" autocapitalize="off" spellcheck="off" #searchbar placeholder="Search..." class="search-box"></ion-searchbar>


  <div class="map-wrapper">
    <div id="map_center">
      <img src="../../assets/marker.png" />
    </div>
    <div #map id="map"></div>
  </div>
<!--   <div id="address">
    <span>{{address}}</span>
  </div> -->


</ion-content>